[package]
name = "asp-membership"
version.workspace = true
edition.workspace = true
publish.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["lib", "cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }
soroban-utils = { workspace = true }

[dev-dependencies]
num-bigint = "0.4"
soroban-sdk = { workspace = true, features = ["testutils"] }
zkhash = { workspace = true }
