[package]
name = "pool"
version.workspace = true
edition.workspace = true
publish.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["lib", "cdylib"]
doctest = false

[dependencies]
# Inherit the version from the workspace
soroban-sdk.workspace = true
soroban-utils = { path = "../soroban-utils" }

[dev-dependencies]
soroban-sdk = { workspace = true }
