[package]
name = "circuits"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[features]
circom-tests = ["ark-circom"]

[dependencies]
anyhow = "1"
ark-bn254 = "0.5.0"
ark-circom = { version = "0.5.0", optional = true }
ark-ff = "0.5"
ark-groth16 = "0.5.0"
ark-snark = "0.5.1"
ark-std = "0.5.0"
color-eyre = "0.6.5"
num-bigint = "0.4.6"
num-integer = "0.1.46"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
zkhash = { path = "../poseidon2" }

[build-dependencies]
anyhow = "1"
ark-bn254 = "0.5.0"
ark-ec = "0.5"
ark-ff = "0.5"
compiler = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
constraint_generation = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
constraint_writers = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
parser = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
program_structure = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
regex = "1"
type_analysis = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
wast = "39.0.0"

[lints]
workspace = true
