[package]
name = "circuits"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[features]
circom-tests = ["ark-circom"]

[dependencies]
anyhow = { workspace = true }
ark-bn254 = { workspace = true }
ark-circom = { version = "0.5.0", optional = true }
ark-ff = { workspace = true }
ark-groth16 = { workspace = true }
ark-snark = { workspace = true }
ark-std = { workspace = true }
num-bigint = { workspace = true }
num-integer = { workspace = true }
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
zkhash = { path = "../poseidon2" }

[build-dependencies]
anyhow = { workspace = true }
compiler = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
constraint_generation = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
constraint_writers = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
parser = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
program_structure = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
regex = "1"
type_analysis = { git = "https://github.com/iden3/circom", tag = "v2.2.2" }
wast = "39.0.0"

[lints]
workspace = true
