name: Dependency security audit

on:
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

jobs:
  security_audit:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Run audit-check action
        uses: EmbarkStudios/cargo-deny-action@v2
