name: Dependency security audit

on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  security_audit:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - name: Check out
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Cache audit-check build
        id: cache-audit-check
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94d9d67 # v4
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Run audit-check action
        run: |
          which cargo-deny || cargo install cargo-deny --locked --version 0.18.9
          cargo deny check
