name: Docs

on:
  workflow_dispatch:

jobs:
  docs:
    permissions:
      contents: write
      pages: write
      id-token: write
    name: Documentation
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      - name: Setup pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Clean docs folder
        run: cargo clean --doc

      - name: Build documentation
        run: cargo doc --no-deps -p circuits

      - name: Remove lock file
        run: rm target/doc/.lock

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/doc

  publish-docs:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
