name: Linter check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"

jobs:
  linter_check:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install nightly rustfmt
        run: rustup toolchain install nightly --component rustfmt --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Run Fmt
        run: cargo +nightly fmt --all -- --check --config-path rustfmt.toml

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features

      - name: Check typos
        uses: crate-ci/typos@v1.42.0
