name: Linter check

on: push

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"

jobs:
  linter_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install nightly rustfmt
        run: rustup component add rustfmt --toolchain nightly
      - name: Run Fmt
        run: cargo +nightly fmt --all -- --check --config-path rustfmt.toml

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features

      - name: Check typos
        uses: crate-ci/typos@master
