name: WASM Build

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  wasm-build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@a54b7f31ebfbf58913f6bf8bb5d8523a23a41a63 # stable
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - name: Cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2
        with:
          cache-targets: "true"

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install google-chrome-stable

      - name: Run WASM tests in Headless Chrome
        run: |
          (cd app/crates/prover && wasm-pack test --headless --chrome)
          (cd app/crates/witness && wasm-pack test --headless --chrome)
